<!doctype html>
<html>
<head> 
    <title>MA Map</title>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <style>
        body, html {
            font-family: Helvetica, sans-serif;
            margin: 0;
            padding: 0;
        }
        path {
            stroke: #434143;
        }
        #loading {
            color: #808080;
            margin: 4em;
            text-align: center;
        }
        #meta {
            background: #dfdfdf;
            border: 1px solid #c0c0c0;
            color: #434143;
            height: 100px;
            padding: 2px 8px;
            position: absolute;
            top: 8px;
            right: 8px;
            width: 200px;
            z-index: 99;
        }
        #data_select {
            position: absolute;
            left: 8px;
            top: 8px;
        }
        #title { 
            background: #ffffff;
            height: 40px;
            position: absolute;
            left: 10px;
            top: 40px;
        }
            #title h1 { margin: 0; padding: 2px 8px; } 
    </style>
</head>
<body>
    <div id='meta'></div>
    <div id='title'></div>
    <select id='data_select'>
        <option value="agi">AGI - Average Gross Income</option>
        <option value="average_property_value">Average Property Value</option>
        <option value="royalties">Average Royalties Received</option>
        <option value="work_week">Average Hours of Work Per Week</option>
        <option value="children">Average Number of Claim Children</option>
        <option value="student_loan_interest">Student Loan Interest Deducation</option>
        <option value="self_employ">Average Self Employment Income</option>
    </select>

    <h1 id='loading'>Loading ... </h1>

    <!-- TEMPLATE -->
    <script type='text/template' id='meta_template'>
        <h2>Zip: <%= zip %></h2>
        <h4><%= val %></h4>
    </script>


    <!-- =================================================================
        
        SCRIPTS

        ================================================================== -->
    <!-- Libs -->
    <script src='/static/js/lib/d3.js'></script>
    <script src='/static/js/lib/jquery.js'></script>
    <script src='/static/js/lib/underscore.js'></script>
    <script src='/static/js/lib/topojson.js'></script>

    <!-- DATA -->
    <script src='zips.js'></script>
    <script src='data/average_prop_val.js'></script>
    <script src='data/student_loan_interest.js'></script>
    <script src='data/royalties.js'></script>
    <script src='data/children.js'></script>
    <script src='data/agi.js'></script>
    <script src='data/self_employ.js'></script>
    <script src='data/work_week.js'></script>

    <!-- CODE -->
    <script>

        //Configure data
        var baseData = {
            agi: {
                data: agi,
                title: 'Average Gross Income'
            },
            average_property_value: {
                data: average_property_value,
                title: 'Average Property Value'
            },
            children: {
                data: children,
                title: 'Average Number of Claimed Children'
            },
            self_employ: {
                data: self_employ,
                title: 'Average Self Employment Income'
            },
            student_loan_interest: {
                data: student_loan_interest,
                title: 'Average Student Loan Interest Deduction'
            },
            royalties: {
                data: royalties,
                title: 'Average Royalties Received'
            },
            work_week: {
                data: work_week,
                title: 'Average Hours of Work Per Week'
            }
        };

        var template = _.template($('#meta_template').html());
        var $template = $('#meta')

        var width = 1260,
            height = 800;

        var projection = d3.geo.mercator()
            .scale(17280)
            .center([-71.6,42])
            .translate([width / 2, height / 2]);

        var path = d3.geo.path()
            .projection(projection)

        var svg = d3.select("body").append("svg")
            .attr("width", width)
            .attr("height", height);

        var chart = svg.append("g")
            .attr("class", "zipsGroup");

        //-------------------------------
        //Update map
        //-------------------------------
        var updateMap = function updateMap(datum){
            var data = baseData[datum].data;

            $('#title').html('<h1>' + baseData[datum].title + '</h1>');

            var vals = d3.values(data);
            var dataMax = d3.max(vals, function(d){
                return d;
            })

            //Color scale (NOTE: should not be a linear scale!)
            var color = null, colors = null;

            /* linear scale 
            colors = [
                "rgb(247,251,255)",
                "rgb(158,202,225)",
                "rgb(33,113,181)"
            ];
            color = d3.scale.linear()
                .domain([0, d3.mean(vals), dataMax])
                .range(colors);
            */

            //Quantized scale
            colors = [
                "rgb(247,251,255)",
                "rgb(222,235,247)",
                "rgb(198,219,239)",
                "rgb(158,202,225)",
                "rgb(107,174,214)",
                "rgb(66,146,198)",
                "rgb(33,113,181)",
                //"rgb(8,81,156)",
                //"rgb(8,48,107)"
            ];

            color = d3.scale.quantize()
                .domain([0, dataMax])
                .range(colors);

            //add zips
            var paths = chart.selectAll("path")
                .data(topojson.feature(zips, zips.objects.zips).features);

            paths.enter().append("path")
                .attr({ 
                    d: path,
                    fill: '#ffffff' 
                })
                .on('mouseleave', function(d,i){
                    var $this = d3.select(this); 
                    $this.style({ 
                        stroke: "#343434",
                        'stroke-width': "1px"
                    });
                });

            //Update paths
            paths.on('mouseenter', function(d,i){
                    var zip = d.properties.NAME;
                    val = data[zip];
                    formattedVal = '$' + d3.format(',.0f')( val );

                    //change formatting function based on item
                    if(data === 'work_week' || datum === 'children'){
                        formattedVal = d3.format(',.2f')(val);
                    }

                    //update template
                    $template.html(template({ 
                        val: formattedVal,
                        zip: zip 
                    }));

                    d3.select(this).style({ 
                        stroke: "#ffffff",
                        'stroke-width': "3px"
                    });
                });
            paths.transition()
                .duration(1000)
                .attr({
                    fill: function(d,i){
                        var zip = d.properties.NAME;
                        val = data[zip];
                        if(!val){ 
                            return '#C77742';
                        }
                        return color(val);
                    }
                })
        };

        $('#loading').remove();

        //When select changes, change data shown
        $('#data_select').on('change', function(e){
            updateMap(this.value);
        });

        //SETUP ZOOM
        var zoom = d3.behavior.zoom()
            .on("zoom",function() {
                chart.attr("transform","translate("+ 
                    d3.event.translate.join(",")+")scale("+d3.event.scale+")");
                chart.selectAll("path")  
                    .attr("d", path.projection(projection)); 
        });

        svg.call(zoom)

        //Load default data
        updateMap('agi');

    </script>
</body>
</html>
